<%- include header %>
<form method="post" class="form-horizontal">
    <div class="form-group">
    	<label for="title" class="col-sm-1 control-label">标题</label>
    	<div class="col-sm-11">
    		<p class="form-control-static"><%= post.title %></p>
    	</div>
    </div>
    <% var tags = post.tags[0].length %>
    <% if ( tags != 0) { %>
    <div class="form-group">
    	<label for="title" class="col-sm-1 control-label">标签</label>
    	<div class="col-sm-11">
    		<p class="form-control-static">
    		<% for(var tag in post.tags ) { %>
	    		<span class="label label-info"><%= post.tags[tag] %></span>
	    	<% } %>
    		</p>
    	</div>
    </div>
    <% } %>
    <div class="form-group">
    	<label for="title" class="col-sm-1 control-label">正文</label>
    	<div class="col-sm-11">
            <script id="editor" name="post" type="text/plain" style="width:100%;height:300px;"><%- post.post %></script>
    	</div>
    </div>
    <div class="form-group">
    	<div class="col-sm-11 col-sm-offset-1">
    		<input class="btn btn-lg btn-primary" type="submit" value="发表" />
    	</div>
    </div>
</form>
<%- include footer %>
<script>
var ue = UE.getEditor('editor');
</script>